<%= form_for(@note) do |f| %>
  <% if @note.errors.any? %>
    <div id="error_explanation" class="alert-alert">
      <h2><%= pluralize(@note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
      <% @note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-xs-12 col-sm-9">
      <div class="field">
        <%= f.label :image %>
        <%= f.file_field :image %>
        <%= f.hidden_field :image_cache %>
        <p>Attention: You can upload only one image per note and it should be under 1.5Mb.</p>
      </div>
      <% if @note.image.file.present? %>
        <%= image_tag @note.image_url(:thumbnail), class: "img-responsive" %>
      <% end %>

      <div class="field">
        <%= f.label :title %>*<br>
        <%= f.text_field :title, class: 'form-control' %>
      </div>
      <div class="field">
        <%= f.label :location %>*<br>
        <%= f.text_field :location, id: 'geocomplete', class: 'form-control' %>
        <p>Example: <em>Jakarta, Indonesia</em> or <em>Paris, France</em></p>
      </div>
      <div class="field">
        <%= f.label :text %>*<br>
        <%= f.cktext_area :text, class: 'form-control editor-field' %>
      </div>
      <div class="field">
        <%= f.check_box :private %>
        <%= f.label :private, "Make this Note private" %> <i class="fa fa-question-circle-o" aria-hidden="true" data-toggle="popover" data-trigger="focus" title="Private Note" data-content="It won't be published on the main page. But you can always find it on your 'My Notes' page."></i>
      </div>

      <div class="actions">
        <%= f.submit class: 'btn new-note-btn'%>
      </div>
  </div>
</div>

<% end %>

