

<%= link_to 'New Note', new_note_path, class: "btn btn-warning new-note-btn" %>

<h1>Your Notes</h1>

 
<div class="row">
<% @notes.each do |note| %>
  <div class="noteContainer col-xs-12 col-sm-4">
    <div class="innerNoteContainer">
      <h1><%= note.title %></h1>  
      <p><%= note.text %></p>
      <div class="metaInfo">
        <%= note.location %><br />
        <%= link_to 'Show Full Note', note %>
        <%= link_to 'Edit', edit_note_path(note) %>
        <%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>

    </div>
    
  </div>
  <% end %>
</div>



<!-- <table border=1>
  <thead>
    <tr>
      <th>Title</th>
      <th>Location</th>
      <th>Text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td><%= note.title %></td>
        <td><%= note.location %></td>
        <td><%= note.text %></td>
        <td><%= link_to 'Show', note %></td>
        <td><%= link_to 'Edit', edit_note_path(note) %></td>
        <td><%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br> -->


