
<% content_for :top_content do %>
<div class="jumbotron">
  <div class="container">
      <h1>Explore the world with millions of Travel Notes from more than 100 countries</h1>  
      <% if (user_signed_in?) %>
      <%= link_to 'New Note', new_note_path, class: "btn btn-warning new-note-btn" %>
      <% else %>
      <%= link_to 'New Note', new_user_session_path, class: "btn btn-warning new-note-btn" %>
      <% end %>
    </div>
</div>
<% end %>

<h1 class="pageTitle ">Keep it simple. This is not Facebook.</h1>
<div class="row appExplanation pageTitle">
  <div class="col-xs-3">
    <i class="fa fa-picture-o" aria-hidden="true"></i>
    <p>One Image</p>
  </div>
  <div class="col-xs-3">
    <i class="fa fa-map-marker" aria-hidden="true"></i>
    <p>One Location</p>
  </div>
  <div class="col-xs-3">
    <i class="fa fa-comment-o" aria-hidden="true"></i>
    <p>One Subject</p>
  </div>
  <div class="col-xs-3">
    <i class="fa fa-align-center" aria-hidden="true"></i>
    <p>150 Words</p>
  </div>
</div>

<div class="row mainPageRow">
<h1 class="pageTitle exploreNotes">Explore Notes from all over the world</h1>
  <div class="grid">
    <% if @notes.size > 0 %>
    <% @notes.each do |note| %>
      <% if note.private == false %>
        <div class="noteContainer grid-item col-xs-12 col-sm-6 col-md-4 <%= note.countrycode if note.countrycode.presence %> ">
          <div class="shadowContainer">
            <% if note.image.file.present? %>
              <%= cl_image_tag note.image_url(:large), class: "img-responsive notePreviewMainPage" %>
            <% end %>
            <div class="innerNoteContainer">
              <h1><%= note.title.truncate(45) %></h1> 
                <p class="pageTitle"> <%= time_ago_in_words(note.updated_at) %> ago by <%= link_to note.user.name , user_path(note.user) %></p>
                
              <p><%= sanitize raw(note.text.truncate(150)) %></p> 
              
              <div class="metaInfo">
                <% if note.city.presence || note.country.presence %>    
                  <%= note.city if note.city.presence %>, <%= note.country if note.country.presence %></p>
                <% else %>
                  <%= note.location %>  
                <% end %>
                <%= link_to 'Show Full Note', note %> 
                <% if (user_signed_in? && (current_user.id == note.user_id)) %>
                | <%= link_to 'Edit', edit_note_path(note) %> 
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
    <% else %>
    <h1 class="noNotesYetMessage">Oooops, looks like there are no notes yet.</h1>
    <% end %>

  </div>
  <div id="pagination">
    <%= will_paginate %>
  </div>
</div>



