<h1 class="pageTitle">
  <%= @note.title %>
</h1>

<p class="pageTitle">by <%= link_to @note.user.name , user_path(@note.user) %></p>

<div class="row">
	<div class="imageContainer col-xs-12 col-sm-10 col-sm-offset-1">
		<% if @note.image.file.present? %>
			<%= image_tag @note.image_url(:large), class: "img-responsive" %>
		<% end %>
		
	</div>
</div>

<p class="pageTitle"><%= @note.location %> </p>

<div class="imageContainer col-xs-12 col-sm-10 col-sm-offset-1">
	<%= image_tag "https://maps.googleapis.com/maps/api/staticmap?center=#{@note.latitude},#{@note.longitude}&markers=#{@note.latitude},#{@note.longitude}&zoom=5&size=320x200&key=AIzaSyBtky2vEg3OiQ80-JwbD-zpbNna52fidk4",
          class: 'staticMap img-responsive', alt: "#{@note.title} on the map"%>

</div>


<div class="noteText col-xs-12 col-sm-10 col-sm-offset-1">
	<p>
	  <%= sanitize raw @note.text %>
	</p>
</div>

<div class="row col-xs-12 col-sm-10 col-sm-offset-1">
	<% if @note.private == true %>
		<p class="privateNote">This note is Private <i class="fa fa-question-circle-o" aria-hidden="true" data-toggle="popover" data-trigger="focus" title="Private Note" data-content="It won't be published on the main page. But you can always find it on your 'My Notes' page."></i></p>
	<% end %>
	<% if (user_signed_in? && (current_user.id == @note.user_id)) %>
	<%= link_to 'Edit', edit_note_path(@note) %> |
	<%= link_to 'Back to My Notes', user_path(current_user) %>
	<% end %>	

</div>
