<% if @user == current_user %>
<h1>Hi <%= current_user.name %>! Here are your notes:</h1>
<%= link_to 'New Note', new_note_path, class: "btn btn-warning new-note-btn" %>
<% else %>
<h1><%= @user.name %>'s Notes:</h1>
<% end %>

<div class="row">
  <div class="grid">
    <% if @user_notes.size > 0 %>
      <% @user_notes.each do |note| %>
        <% if @user != current_user && note.private == false %>
          <%= render 'note', note: note %>
        <% elsif @user == current_user %>
          <%= render 'note', note: note %>
        <% end %>
      <% end %>
    <% else %>
      <h1 class="noNotesYetMessage">Oooops, looks like you dont have any notes yet. Time to fix it!</h1>
    <% end %>
  </div>
</div>



