<h1>Hi <%= current_user.name %>!</h1>
<%= link_to 'New Note', new_note_path, class: "btn btn-warning new-note-btn" %>

<div class="row">
<% if @user_notes.size > 0 %>
<% @user_notes.each do |note| %>

  <div class="noteContainer col-xs-12 col-sm-6 col-md-4">
    <div class="innerNoteContainer">
      <h1><%= note.title %></h1>  
      <p id="timeCreated"> <%= time_ago_in_words(note.updated_at) %> ago<p>
      <p><%= raw(note.text.truncate(160)) %></p>
      <div class="metaInfo">
        <%= note.location %><br />
        <%= link_to 'Show Full Note', note %> 

        <% if (user_signed_in? && (current_user.id == note.user_id)) %>
        | <%= link_to 'Edit', edit_note_path(note) %> 
        | <%= link_to 'Delete', note, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>

    </div>
  </div>
  <% end %>
  <% else %>
  <h1>Oooops, looks like you dont have any notes yet. Time to fix it!</h1>
  <% end %>
</div>

